body {
  font-family: "Quicksand", sans-serif;
  font-weight: 300;
  margin: 0;
  padding: 0;
  background-image: url(images/Elysia.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  height: 100vh;
}
h1 {
    font-size: 40px;
    font-family: "Quicksand", sans-serif;
    font-weight: 300;
    letter-spacing: 4px;
    color: white;
}

header, footer {
  font-family: "Quicksand", sans-serif;
  font-weight: 300;
  background-color: rgba(15, 15, 15, 0.5);
  color: white;
  text-align: center;
  padding: 1rem;
}

main {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 1rem;
  padding: 1rem;
}

.card {
  max-width: 500px;
  font-family: "Quicksand", sans-serif;
  font-weight: 300;
  color: white;
  background-color: rgba(35, 35, 35, 1);
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  text-align: center;
}

.card img {
  max-height: 600px;
  max-width: 100%;
  height: auto;
  border-radius: 6px;
}
